:root {
  --color-primary: #2EA7E0;
  --color-primary-dark: #2482AD;
  --color-primary-alpha: #75C2E6;
  --body-color: #ffffff;
  --body-bg: #000000;
  --border-color: #f1ebeb00;
}

body {
  background: url('../img/background.webp') no-repeat center center fixed;
  background-size: cover;
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: calc(100% - 4rem);
  color: var(--body-color);
  font-family: system-ui, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgb(252, 247, 247);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.query {
  max-width: 50rem;
  margin: auto;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  color: var(--color-primary-alpha);
  text-decoration: underline;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

main[x-cloak] {
  opacity: 0;
}

main:not([x-cloak]) {
  opacity: 1;
  transition: opacity .3s;
}

textarea,
input {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: .25rem;
  box-sizing: border-box;
  color: #33404d;
  line-height: inherit;
  font-size: 1rem;
  transition: border .3s, box-shadow .3s;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 .25rem var(--color-primary-alpha);
  border-color: var(--color-primary);
  outline: 0;
}

details {
  margin: 1rem 0 2rem;
  border: 1px solid var(--border-color);
  border-radius: .25rem;
}

details[open] {
  background: #fff;
}

details summary {
  padding: .5rem 1rem;
  font-weight: 500;
  user-select: none;
  cursor: pointer;
  opacity: .8;
  outline: 0;
}

details div {
  padding: 1rem;
  border-top: 1px solid var(--border-color);
}

details small {
  margin: 0;
  font-size: .875rem;
  line-height: 2;
}

button {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 50rem;
  margin-bottom: 1rem;
  padding: .5rem .75rem;
  border: 1px solid var(--color-primary);
  border-radius: .25rem;
  background: var(--color-primary);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  user-select: none;
  transition: border .3s, background .3s;
}

button:hover {
  border-color: var(--color-primary-dark);
  background: var(--color-primary-dark);
}

button:focus {
  box-shadow: 0 0 0 .25rem var(--color-primary-alpha);
  border-color: var(--color-primary);
  outline: 0;
}

button:disabled {
  background: var(--color-primary);
  border-color: var(--color-primary);
  opacity: .6;
  cursor: not-allowed;
}

button.loading::before {
  content: '';
  display: inline-block;
  margin-right: .5rem;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  width: .75rem;
  height: .75rem;
  animation: rotate .5s linear infinite;
}

footer {
  text-align: center;
  margin-top: 20px;
  line-height: unset !important;
  line-height: normal;
}

footer .p {
  display: flex;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding: 0;
  color: rgb(255, 255, 255);
}

.success,
.error {
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: .25rem;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity .3s;
}

.success {
  background: #38d9a9;
}

.error {
  background: #b32142;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

select#api-url-select,
input#custom-url-input {
  width: 100%;
  height: 2.4rem;
  font-size: 1rem;
  background-color: #212121;
  margin-bottom: .5rem;
  padding: .5rem .75rem;
  color: #ffffff;
  border: none;
  border-radius: .25rem;
  margin-right: 10px;
  margin-top: 2vhpx;
}

input#custom-url-input {
  display: none;
  height: 50px;
}

#result-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  overflow: hidden;
}

#result-table th {
  background-color: var(--color-primary);
  color: #ffffff;
  font-weight: 400;
  height: 20px;
  padding: 10px 5px;
  text-align: left;
}

#result-table td {
  height: 20px;
  text-align: left;
  padding: 10px 5px;
}

#result-table tbody tr:nth-child(odd) {
  background-color: #252422;
}

#result-table tbody tr:nth-child(even) {
  background-color: #31302d;
}

#result-table .table-header {
  width: 25%;
}

#result-table .table-data {
  width: 25%;
  font-weight: bold;
  color: #1c248b;
}

#result-table .status-error {
  height: 20px;
  text-align: left;
  padding: 10px 5px;
}

.status-ok {
  color: #2d8d2d;
}

.status-error {
  color: #ed0808;
}

#api-key-input {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

.emoji {
  font-size: 30px;
}

.navbar {
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.navbar a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.navbar a.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
